# 1

In [1]:
import numpy as np

In [24]:
n = 10
np.arange(0, n)[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

# 2

In [29]:
n = 10
m = np.diag(np.arange(0, n)[::-1])

In [31]:
sum(m.diagonal())

45

# 3

In [32]:
import pandas as pd

In [33]:
ratings = pd.read_csv('ratings.csv')

In [34]:
ratings.head(10)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [44]:
ratings[ratings['rating'] == 5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

# 4

In [45]:
power = pd.read_csv('./Python-5_2018-12-10/power.csv')

In [ ]:
power['country'].unique()

In [88]:
sum(power[
    ((power['country'] == 'Latvia') | (power['country'] == 'Estonia') | (power['country'] == 'Lithuania'))
    & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21))
    & ((power['year'] >= 2005) & (power['year'] <= 2010))
    & (power['quantity'] > 0)
]['quantity'])

240580.0

# 5

In [ ]:
4x + 2y + 1z = 4
1x + 3y + 0z = 12
0x + 5y + 4z = -3

In [89]:
a = np.matrix([
    [4,2,1],
    [1,3,0],
    [0,5,4]
])

In [90]:
b = np.array([4,12,-3])

In [91]:
from numpy import linalg

In [92]:
linalg.solve(a, b)

array([ 0.46666667,  3.84444444, -5.55555556])